<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.travel.mapper.GrogshopMapper">
  <resultMap id="BaseResultMap" type="com.travel.entity.Grogshop">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="grogshop_name" jdbcType="VARCHAR" property="grogshopName" />
    <result column="address" jdbcType="VARCHAR" property="address" />
  </resultMap>
  <sql id="Base_Column_List">
    id, city, grogshop_name, address
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from grogshop
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from grogshop
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.travel.entity.Grogshop">
    insert into grogshop (id, city, grogshop_name, 
      address)
    values (#{id,jdbcType=INTEGER}, #{city,jdbcType=VARCHAR}, #{grogshopName,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.travel.entity.Grogshop">
    insert into grogshop
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="grogshopName != null">
        grogshop_name,
      </if>
      <if test="address != null">
        address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="grogshopName != null">
        #{grogshopName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.travel.entity.Grogshop">
    update grogshop
    <set>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="grogshopName != null">
        grogshop_name = #{grogshopName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.travel.entity.Grogshop">
    update grogshop
    set city = #{city,jdbcType=VARCHAR},
      grogshop_name = #{grogshopName,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getGrogShop" resultMap="BaseResultMap">
    select * from grogshop
  </select>

  <select id="selectByCondition" parameterType="string" resultMap="BaseResultMap">
    select * from grogshop
    <where>
      <if test="_parameter!=null and _parameter!=''">
        and city like concat('%',#{cityName},'%')
      </if>
    </where>
  </select>

  <delete id="batchDelId">
    delete from grogshop where id in
    <foreach collection="list" item="id" open="(" separator="," close=")">
      #{id}
    </foreach>
  </delete>
</mapper>